In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import random

In [3]:
# Import the provided salary data into Jupyter Notebook
df_total_salary = pd.read_csv(r"C:\Users\AMLIT\Downloads\Total_Salary.csv", low_memory=False)

In [5]:
# Display dataset information
df_total_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [7]:
# Convert relevant columns to numeric data types
salary_columns = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']
for col in salary_columns:
    df_total_salary[col] = pd.to_numeric(df_total_salary[col], errors='coerce')

In [51]:
# Function to get employee details
def get_employee_details_safe(employee_name=None, df_total_salary=None, num_random=1):
    try:
        if df_total_salary is None or df_total_salary.empty:
            return "Employee database is empty or not provided."
            
        # Standardize the Name column (strip spaces & lowercase)
        df_total_salary['EmployeeName'] = df_total_salary['EmployeeName'].astype(str).str.strip().str.lower()
        
        # If no name is provided, return a random employee
        if employee_name is None:
            if num_random > len(df_total_salary):
                return f"Only {len(df_total_salary)} employees available. Adjusting random selection."
            
            return df_total_salary.sample(n=num_random).to_dict(orient='records')

        # Ensure 'employee_name' is string type and perform case-insensitive search
        if not isinstance(employee_name, str):
            return "Invalid input: Employee name must be a string."

        employee = df_total_salary[df_total_salary['EmployeeName'] == employee_name.lower()]

        if employee.empty:
            return "Employee not found."
        
        return employee.to_dict(orient='records')

    except Exception as e:
        return str(e)

In [53]:
# Get details of a specific employee
print(get_employee_details_safe("DAVID KUSHNER", df_total_salary))

[{'EmployeeName': 'david kushner', 'JobTitle': 'DEPUTY DIRECTOR OF INVESTMENTS', 'BasePay': 256576.96, 'OvertimePay': 0.0, 'OtherPay': 51322.5, 'Benefits': nan, 'TotalPay': 307899.46, 'TotalPayBenefits': 307899.46, 'Year': 2011}]

In [55]:
# Get details of a random employee
print(get_employee_details_safe(df_total_salary=df_total_salary))

[{'EmployeeName': 'genevieve e valerio', 'JobTitle': 'Special Nurse', 'BasePay': 10832.4, 'OvertimePay': 0.0, 'OtherPay': 1940.82, 'Benefits': 2390.3, 'TotalPay': 12773.22, 'TotalPayBenefits': 15163.52, 'Year': 2013}]

In [57]:
# Get 10 random employees
print(get_employee_details_safe(df_total_salary=df_total_salary, num_random=10))

[{'EmployeeName': 'andrew j cecena', 'JobTitle': 'Public Svc Aide-Public Works', 'BasePay': 4408.0, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 55.27, 'TotalPay': 4408.0, 'TotalPayBenefits': 4463.27, 'Year': 2015}, {'EmployeeName': 'arlette t smith', 'JobTitle': 'Protective Services Worker', 'BasePay': 95229.0, 'OvertimePay': 0.0, 'OtherPay': 648.0, 'Benefits': 32728.24, 'TotalPay': 95877.0, 'TotalPayBenefits': 128605.24, 'Year': 2013}, {'EmployeeName': 'sunny x lei', 'JobTitle': 'Transit Operator', 'BasePay': 17225.14, 'OvertimePay': 1238.55, 'OtherPay': 300.69, 'Benefits': 11247.0, 'TotalPay': 18764.38, 'TotalPayBenefits': 30011.38, 'Year': 2014}, {'EmployeeName': 'johnnie d walker', 'JobTitle': 'General Laborer', 'BasePay': 62466.21, 'OvertimePay': 4979.93, 'OtherPay': 1357.71, 'Benefits': 26308.2, 'TotalPay': 68803.85, 'TotalPayBenefits': 95112.05, 'Year': 2013}, {'EmployeeName': 'gregory a huie', 'JobTitle': 'Police Officer 3', 'BasePay': 121198.09, 'OvertimePay': 33619.14, 'OtherPay': 820.04, 'Benefits': 35404.81, 'TotalPay': 155637.27, 'TotalPayBenefits': 191042.08, 'Year': 2016}, {'EmployeeName': 'melody m hall', 'JobTitle': 'Transit Operator', 'BasePay': 64488.42, 'OvertimePay': 17444.65, 'OtherPay': 5258.58, 'Benefits': 34896.03, 'TotalPay': 87191.65, 'TotalPayBenefits': 122087.68, 'Year': 2014}, {'EmployeeName': 'jacqueline moskus', 'JobTitle': 'Psychiatric Social Worker', 'BasePay': 40106.1, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 17628.67, 'TotalPay': 40106.1, 'TotalPayBenefits': 57734.77, 'Year': 2012}, {'EmployeeName': 'davidcresd alda', 'JobTitle': 'Stationary Engineer', 'BasePay': 85090.61, 'OvertimePay': 5161.32, 'OtherPay': 8509.06, 'Benefits': 33006.23, 'TotalPay': 98760.99, 'TotalPayBenefits': 131767.22, 'Year': 2015}, {'EmployeeName': 'oswald milan jr', 'JobTitle': 'Food Service Worker', 'BasePay': 3875.53, 'OvertimePay': 511.04, 'OtherPay': 243.58, 'Benefits': 2157.49, 'TotalPay': 4630.15, 'TotalPayBenefits': 6787.64, 'Year': 2016}, {'EmployeeName': 'thomas a bower', 'JobTitle': 'Assoc Engineer', 'BasePay': 104753.6, 'OvertimePay': 0.0, 'OtherPay': 221.33, 'Benefits': 32839.38, 'TotalPay': 104974.93, 'TotalPayBenefits': 137814.31, 'Year': 2015}]

In [65]:
def export_employee_details(employee_name, df_total_salary):
    """
    Exports employee details to a CSV file named "Employee Profile.csv".

    Args:
        employee_name (str): The name of the employee to export.
        df_total_salary (pandas.DataFrame): The DataFrame containing employee data.
    """
    
    employee_details = get_employee_details_safe(employee_name=employee_name, df_total_salary=df_total_salary)
    
    if isinstance(employee_details, str):
        print(employee_details)  # Print error message
        return
    
    if not employee_details:
        print("No employee details found.")
        return

    df_employee = pd.DataFrame(employee_details)

    try:
        df_employee.to_csv("Employee Profile.csv", index=False)
        print(f"Employee details for '{employee_name}' exported to 'Employee Profile.csv'")
    except Exception as e:
        print(f"Error exporting employee details: {e}")

In [67]:
export_employee_details('EDWARD HARRINGTON', df_total_salary)

Employee details for 'EDWARD HARRINGTON' exported to 'Employee Profile.csv'